
database.ini

.git
config.php
.htaccess
composer.lock
composer.json
*.pem
*.pub
images/*
audio/
client/template/
client/plugins/
api/index.php
api/sync.php
api/constant.php
api/app/Connection.php
api/app/Utility.php
api/vendor/
api/email_template/
config.php