
database.ini

.git
config.php
sync.php
.htaccess
composer.lock
composer.json
vendor
node_modules/
testSSP/
images/
images/produk/
images/pegawai/
images/igd/
images/slideshow/
assets/
.idea/
audio/
document/
client/template/
client/plugins/
api/index.php
api/sync.php
api/constant.php
api/app/Connection.php
api/app/Utility.php
api/vendor
api/email_template/
api/*.txt
api/*.pem
api/*.pub
api/*.key
api/*.req
api/*.crt
api/*.sql
*.txt
*.pem
*.pub
*.key
*.req
*.crt
*.sql
*.png
*.zip
head.php
