
database.ini

.git
config.php
sync.php
.htaccess
composer.lock
composer.json
*.pem
*.pub
*.key
*.txt
*.req
*.crt
*.sql
images/produk
images/igd
audio/
document/
client/template/
client/plugins/
api/index.php
api/sync.php
api/constant.php
api/app/Connection.php
api/app/Utility.php
api/vendor/
api/email_template/
config.php
*.txt